<form class="formwidth" (ngSubmit)="onSubmit()" #myForm="ngForm">
  <h3>Address Form</h3>
  <table class="fullwidth" cellspacing="0">
    <tr>
      <td>
        <md-input-container class="fullwidth">
          <input  mdInput placeholder="First Name" id="firstname" [(ngModel)]="address.firstname" name="firstname">
        </md-input-container>
      </td>
      <td>
        <md-input-container class="fullwidth">
          <input mdInput placeholder="Last Name" id="lastname" [(ngModel)]="address.lastname" name="lastname">
        </md-input-container>
      </td>
    </tr>
  </table>

  <p>
    <md-input-container class="fullwidth">
      <textarea mdInput placeholder="Address" id="address" [(ngModel)]="address.address" name="address"></textarea>
    </md-input-container>
  </p>

  <table class="fullwidth" cellspacing="0">
    <tr>
      <td>
        <md-input-container class="fullwidth">
          <input mdInput placeholder="City" id="city" [(ngModel)]="address.city" name="city">
        </md-input-container>
      </td>
      <td>
        <md-input-container class="fullwidth">
          <input mdInput placeholder="State" id="state" [(ngModel)]="address.state" name="state">
        </md-input-container>
      </td>
      <td>
        <md-input-container class="fullwidth">
          <input mdInput maxlength="5" #postalcode placeholder="Postal Code" id="postalcode" [(ngModel)]="address.postalcode" name="postcode">
          <md-hint align="end">
            {{postalcode.value.length}} / 5
          </md-hint>
        </md-input-container>
      </td>
    </tr>
  </table>

  <p>
    <button type="submit" md-raised-button>Submit</button>
  </p>
</form>
