<div class="container" id="app">
  <br/>
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong><a href="http://codingthesmartway.com/courses/angular2-complete-guide/" target="_blank">[ONLINE COURSE] - Angular - The Complete Guide</a></strong> +++ Master Angular (both Angular 4 and Angular 2) and build awesome, reactive web apps with the successor of Angular.js +++ Develop modern, complex, responsive and scalable web applications with Angular 4  +++ Fully understand the architecture behind an Angular 4 application and how to use it +++
  </div>

  <my-form></my-form>

  <br/>
  <hr>
  <div class="footer">
    <p>&copy; <a href="http://codingthesmartway.com" target="_blank">CodingTheSmartWay.com</a> | <a href="http://codingthesmartway.com/imprint" target="_blank">Imprint</a></p>
  </div>
</div>
